@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');

html,
body{
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://w0.peakpx.com/wallpaper/211/559/HD-wallpaper-hacker-green-tech-computer-technology.jpg");
    color: white;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans Mono', monospace;
}

#target{
    border: 1px solid grey;
    background: none;
    color: red;
    font-size: 18px;
    height: 25px;
    width: 75%;
    z-index: 2;
    padding-left: 10px;
}

.side, .main{
    border: 2px solid white;
}

.heading{
    font-size: 60px;
    color: #009912;
    text-shadow: 2px 2px 4px lime;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.side{
    position: relative;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid grey;
    border-radius: 8px;
    height: 80%;
    padding: 20px;
    color: #009912;
    text-shadow: 0 0 10px lime;
    overflow: hidden;
}

.main{
    /* position: relative; */
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid grey;
    border-radius: 8px;
    height: 80%;
    padding: 20px;
}

.side1{
    font-size: 15px;
    position: absolute;
    height: 90%;
    width: 90%;
    word-wrap: break-word;
    text-align: center;
}

.hack_btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 11%;
    left: 47%;
    height: 5%;
    width: 8%;
    background: rgba(0, 156, 0, 0.7);
    border-radius: 8%;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-size: 20px;
    padding: 5px;
}

.hack_btn:hover{
    transform: scale(1.05);
}

.hack_btn:active{
    background: #0df62c;
    transform: scale(0.96);
}

.text{
    font-size: 18px;
    color: #009912;
    text-shadow: 0 0 8px lime;
}

input{
    margin: 2px;
    accent-color: #009912;
}

label{
    color: #0df62c;
}

.text.size{
    font-size: 15px;
}

.text.red{
    color: red;
}