h1{
    text-align: center;
    color: brown;
}

.joke-container{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    background: rgb(244, 233, 219);
}

.box{
    border: 2px solid red;
    margin: 20px auto;
    padding: 20px 15px;
}

#joke-box1{
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 2px 5px black;
    background: cyan;
    color: blue;
}
#joke-box2{
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 2px 5px black;
    background: whitesmoke;
    color: black;
}
#joke-box3{
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 2px 5px black;
    background: yellow;
    color: rgb(212, 102, 5);
}